	h1 {text-align: center; 
		color: #002469; 
		size: 20; 
	}

	div {
		text-align: left; 
		background-color: #cceeff; 
		margin: 2em 3cm;
	}

	.btn {
		margin: 0px auto;
		display: block;
		box-shadow:inset 0px 1px 0px 0px #7a8eb9;
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #637aad), color-stop(1, #5972a7));
		background-color:#637aad;
		border:1px solid #314179;
		cursor:pointer;
		color:#ffffff;
		font-family:Arial;
		font-size:13px;
		font-weight:bold;
		padding:6px 12px;
	}

	.btn :hover{
		color: #ffffff;
		background-color: #000044;
		cursor: pointer;
	}

	span {
		font-weight: bold;
	}

	input[type=text]{
		margin: 0px auto;
		display: block;
		width: 250px;
	}

	input[type=text]:focus {
    	border: 3px solid #555;
	}